{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Is it New Year's?</title>
    <link href="{% static 'newyear/styles.css' %}" rel="stylesheet">
</head>
<body>
{% if newyear %}
  <h1>YES</h1>
{% else %}
  <h1>NO</h1>
{% endif %}
</body>
</html>